<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Disciplina</title>
</head>
<body>
<br><br>
<div class="card">
  <div class="card-body">
    <form novalidate  (ngSubmit)="onSubmit()" [formGroup]="disciplinaData">
      <!-- INÍCIO BLOCO: Nome -->
      <div class="form-group">
        <label class="font-weight-bold" for="name">Nome da Disciplina:</label>
        <input type="text" class="form-control" placeholder="Digite um nome para a Disciplina" formControlName="nome" #nome />
      </div>
      <div *ngIf="validatorInputs('nome')" class="alert alert-danger">
        <div *ngIf="validatorErrorsRequired('nome')">
          O campo "nome" é de preenchimento obrigatório.
        </div>
      </div>
      <!-- FIM BLOCO: Nome -->
      <br><br>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="disciplinaData.pristine || disciplinaData.invalid">
          Enviar Dados
        </button>
        <p>Formulario: {{ formResult }}</p>
      </div>
      <br><br>
        <!--------------------- Botão Voltar --------------------------->
          <button (click)="back()">Voltar</button>
    </form>
  </div>
</div>
</body>
</html>
