<!-- Page Content -->
<header class="bg-primary py-4 mb-3">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-3">
        <img src="https://www.hypeness.com.br/1/2018/07/PBooks8.jpg" height="190px" width="230px" />
      </div>
      <div class="col-lg-6">
        <h3 class="display-4 text-white mt-5 mb-6">Biblioteca E. E. Jardim Santo André III</h3>
        <p class="lead mb-5 text-white">Aplicação para gerenciamento da Biblioteca Escolar</p>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row text-center">
   <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-bottom" src="/assets/performance.jpg" height="150px" width="220px" alt="">
        <div class="card-body">
          <h4 class="card-title">Gerenciar Acervo</h4>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary" [routerLink]="['/disciplinas']" >Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Content -->
